<div class="container" ng-controller="mainSiteController">
<article>
	  <div><h1><span ></span> 
	  	<small>{{article.articletitle}}</small></h1>
	  </div>


	<section>

        
          <div class="blog-post" >
            <h2 class="blog-post-title">{{section_0.sectionheading}}</h2>
            <p class="blog-post-meta">{{section_0.meta}} <a href="#">{{section_0.author}}</a></p>
            <p>{{section_0.sectionbody}}</p>
          </div><!-- /.blog-post -->
      

<!--
	  <div class="row" ng-repeat='item in section'>
 	
		<div class="col-md-12"><h2><small>{{item.sectionheading}}</small></h2></div>
		<div class="col-md-4"><p>{{item.sectionbody}}</p></div>
	
	  </div>

	-->
	 </section>
</article>
</div>