<div class="container" ng-controller="mainSiteController">
<article>
	  <div><h1><span ></span> 
	  	<small>{{article.articletitle}}</small></h1>
	  </div>


	<section>


<div>
<iframe width="600" height="480" src="https://www.youtube.com/embed/8Cl5CeiT7hU" frameborder="0" allowfullscreen></iframe>
</div>
        

<!--
	  <div class="row" ng-repeat='item in section'>
 	
		<div class="col-md-12"><h2><small>{{item.sectionheading}}</small></h2></div>
		<div class="col-md-4"><p>{{item.sectionbody}}</p></div>
	
	  </div>

	-->
	 </section>
</article>
</div>